* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
.block {
  width: 50px;
  height: 50px;
}
.world-Container {
  background: #8dbfff;
}
#cloud {
  width: 50px;
  height: 50px;
  background-color: rgb(250, 250, 250);
}
.dirt {
  width: 50px;
  height: 50px;
  background-image: url("/Imgs/Dirt.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grass {
  width: 50px;
  height: 50px;
  background-image: url("/Imgs/Grass.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.oak {
  width: 50px;
  height: 50px;
  background-image: url("/Imgs/Oak-Log.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leaves {
  width: 50px;
  height: 50px;
  background-image: url("/Imgs/Leaves.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cobble {
  width: 50px;
  height: 50px;
  background-image: url("/Imgs/Cobblestone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
}
.pickaxe,
.shovel,
.axe {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pickaxe img,
.shovel img,
.axe img {
  background-color: black;

  border: white 3px solid;
  padding: 5px;
}
.pickaxe p,
.shovel p,
.axe p {
  margin-top: 1vh;
  font-size: 1.2rem;
  color: white;
}
.pickaxe {
  margin-top: 100%;
}
.shovel {
  margin-top: -5vh;
}
.shovel img {
  height: 55%;
  width: 100%;
}
.pickaxe img {
  height: 50%;
  width: 100%;
}
.axe img {
  height: 55%;
  width: 100%;
}
.axe {
  margin-top: -2vh;
}
.inventory {
  margin-top: 3rem;
  width: 50px;
  height: 50px;
  border: 2px solid whitesmoke;
}
.inside-inventory {
  width: 100%;
  height: 100%;
  cursor: grab;
}
